*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    }
    
.header{
    height: 70px;
    background-color: #FFF385;
    padding: 10px 20px;
}
nav{
    display: flex;
    padding: 5px;
    align-items: center;
    margin-left: 80px;
}
nav img{
    width: 240px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-links ul li{
    /* list-style: none; */
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}
.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #FF7070;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
.nav-links ul li a.active {
    font-weight: 700;
}
.nav-links ul li a.active::after {
    width: 100%;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 4;
    position: absolute;
    right: 20px;
    top: 40px;
}

.hamburger .bar {
    width: 30px;
    height: 4px;
    background-color: #FF7070; /* Updated to red color */
    margin: 5px 0;
    border-radius: 10px;
    transition: 0.3s;
}

.menu-toggle {
    display: none;
}

@media screen and (max-width: 1050px) {
    .hamburger {
        display: flex;
    }
    .nav-links {
        position: fixed;
        background: white;
        height: 100vh;
        width: 100%;
        top: 0;
        right: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        z-index: 3;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links ul li {
        display: block;
        margin: 20px 0;
    }
    .menu-toggle:checked ~ .nav-links {
        right: 0;
    }
    .menu-toggle:checked ~ .hamburger .bar:nth-child(1) {
        transform: rotate(-28deg) translate(-5px, 6px);
    }
    .menu-toggle:checked ~ .hamburger .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle:checked ~ .hamburger .bar:nth-child(3) {
        transform: rotate(28deg) translate(-5px, -6px);
    }
}

.footer {
    position: relative;
    background-color: #FFF385;
    padding: 40px 80px;
    text-align: left;

}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
}
.footer-logo {
    flex: 1;
}
.footer-logo img {
    width: 240px;
}
.footer-links {
    flex: 1;
    padding-left: 40px;
}
.footer-links ul, .footer-contact ul {
    list-style: none;
    padding: 0;
}
.footer-links ul {
    margin: 0;
    padding: 0;
}
.footer-contact {
    flex: 1;
    padding-right: 40px;
}
.footer-contact ul {
    margin: 0;
    padding: 0;
}
.footer-links ul li, .footer-contact ul li {
    margin-bottom: 10px;
}
.footer-links ul li a, .footer-contact ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.footer-contact ul li {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}
.footer-contact ul li img {
    margin-right: 10px;
    width: 30px;
    height: auto;
}
/* @media screen and (min-width: 600px) {
    .footer-content {
        flex-direction: row;
        text-align: left;
    }
    .footer-logo, .footer-links, .footer-contact {
        flex: 1;
        text-align: left;
        margin-bottom: 0;
    }
    .footer-logo img {
        width: 150px;
    }
    .footer-links ul li a, .footer-contact ul li {
        font-size: 14px;
    }
    .footer-contact ul li {
        justify-content: flex-start;
    }
} */

/* @media screen and (min-width: 992px) {
    .footer {
        padding: 40px 80px;
    }
    .footer-logo img {
        width: 120px;
    }
    .footer-links ul li a, .footer-contact ul li {
        font-size: 14px;
    }
} */